<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book retrival System</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ecobit.css">
    <link rel='stylesheet' href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class='col-8 col-md-6 col-lg-4 offset-2 offset-md-3 offset-lg-4'>
                <img class="col-12 flex-fill" src="img/c.png"/>
            </div>
            <h1 class='col-12 lead text-center flex' style="font-size: 2rem;">Book Retrieval System</h1>
            </div>
            <div class="jumbotron row col-8 col-md-6 col-lg-4 offset-2 offset-md-3 offset-lg-4">
                <div class="col-11">
                    <input class="form-control" placeholder="Username" name="Username" />
                </div>
                <div class="col-11">
                    <input class="form-control" placeholder="Password" name="password" type="password"/>
                </div>
                <button class="genric-btn circle success-border centerb"><a href="./dashboard.html">Login</a></button>
            </div>
        </div>
    </div>
</body>
</html>