{% extends "userbase.html" %}
{% load static%}
{% block action_type %}

<div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <form method="POST" name="form_update_mail" >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Matric</label>
                    <input type="text" class="form-control" placeholder="Username" disabled value="{{request.user.username}}">
                  </div>
                </div>
                <div class="col-md-8 pl-1">
                  <div class="form-group">
                    <label >Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{request.user.email}}">
                    {% for error in form_update_mail.email.errors %}
                        <div class="alert alert-danger" style="margin-left: 10px; font-size: 0.75rem;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="row col-md-12 pl-1">
                    <button class="genric-btn circle success-border" type="submit" style="margin: 0 auto; font-size: 0.6rem;">Update</button>
                </div>
              </div>
            </form>
              <form method="POST" name="form_update" >
                {% csrf_token %}
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="first_name" class="form-control" placeholder="Company" value="{{request.user.first_name}}">
                    {% for error in form_update.first_name.errors %}
                        <div class="alert alert-danger" style="margin-left: 10px; font-size: 0.75rem;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{request.user.last_name}}">
                    {% for error in form_update.last_name.errors %}
                        <div class="alert alert-danger" style="margin-left: 10px; font-size: 0.75rem;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              </div>
              <div class='row'>
                <button class="genric-btn circle success-border" style="margin: 0 auto;">SAVE</button>
              </div>
            </form>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <div class="card card-user">
            <div class="card-body">
              <div class="author">
                  <img class="avatar border-gray m-4" src=' {% static "./img/default-avatar.png" %}' alt="...">
                  <h5 class="title">{{request.user.get_full_name}}</h5>
                <p class="description">
                  {{request.user.get_username}}
                </p>
              </div>
              <p class="description text-center">
                "Lamborghini Mercy <br>
                Your chick she so thirsty <br>
                I'm in that two seat Lambo"
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="title">Change password</h5>
          </div>
          <div class="card-body">
            <form method="POST" name="change_password">
              {% csrf_token %}
                    {% if form %}
                        {% for field in form %}
                            <div class='form-group col-11'>
                                {{field}}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" style="margin-left: 10px; font-size: 0.75rem;">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class='form-group col-11'>
                                <div class="alert alert-danger p-1">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            </div>
                        {% endfor %}
                      <div class="row">
                        <button class="genric-btn circle success-border centerb">Reset Password</button>
                      </div>
                    {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}