.row{
    padding: 10px;
}
.container{
    min-width: 400px;
}

.jumbotron{
    padding: 2rem 1rem;
    background: -webkit-gradient(linear, left top, right top, from(#195297), color-stop(25%, #4cd3e3), to(#195297));
    background: linear-gradient(to right, #195297 0%, #2582f5 8%,#2582f5  20%,#2582f5 80%,#2582f5 92%,#195297   100%);
}

.form-control{
    margin: 10px;
}
.cool-me{
    background-color: #141E30 !important;
}
.bg-cool{
    background-color: #141E30 !important;
}
.input-group,.input-group-text,.input-group-append{
    padding: 0px;
}
.form-control-no-border{
    padding: 0px;
    margin: 0px;
}

.myavatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .centreb{
      margin: 0 auto!important;
  }
  .genric-btn {
    display: flex;
    outline: none;
    line-height: 40px;
    padding: 0 40px;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  
  }
  .genric-btn.circle {
    border-radius: 20px;
  }
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  /* line 251, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_elements.scss */
  .genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }

.content-sub {
    padding: 0 30px 30px;
    margin-top: -30px;
  }
 .content-sub {
    padding-left: 15px;
    padding-right: 15px;
  }

  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
  }
  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    white-space: nowrap;
    text-shadow: 0px 1px 0 #a2a2a2;
  }
   .star-ratings-css.top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  .star-ratings-css.bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
    .card-subtitle{
      min-height: 20px;
    }
    .genric-btn.success:hover {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff;
    }
    
    .genric-btn.success-border {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff;
    }

    .btn_1 {
      display: inline-block;
      padding: 13px 44px;
      border-radius: 50px;
      background-color: transparent;
      font-size: 15px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 500;
      color: #182028;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      text-transform: uppercase;
      border: 1px solid #ff4800;
    }
    
    /* line 37, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_button.scss */
    .btn_1:hover {
      color: #fff !important;
      background-color: #ff4800;
    }